/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general */
div{
    border: 1px dashed blue
}
p{
    border: 1px dashed red;
}
section{
    border: 1px dashed green
}
a{
    border: 1px dashed violet;
}
li{
    border: 1px dashed goldenrod;
}
main{
    width: 100%;
    display: flex;
}

/*///////// main /////////*/



/* section left */

.left{
    width: 20%;
    height: calc(100vh - 100px);
}





/* section right */

.right{
    width: 80%;
    height: calc(100vh - 100px);
}



/* section right top */
.section-main-top{
    width: 100%;
    min-height: 50px;
}




/* section right bottom*/





/*////// footer ///////*/

.container-footer{
    width: 100%;
    max-height: 100px;
}








/*/////////// breakpoint //////////// */

/* media 1000px */

@media screen and ( max-width : 1000px) {
    
}

/* media 700px */

@media screen and ( max-width : 700px) {
    
}

/* media 600px */

@media screen and ( max-width : 600px) {
    
}